:root {
  --red: #cc3e28;
  --bg: #f2eede;
}
:root,
html,
body {
  margin: 0;
  height: 0;
  background-color: black;
  background-image: url("../assets/img/heart.gif");
}
/*fonts*/
@font-face {
  font-family: daysoflove;
  src: url("../assets/fonts/Days\ of\ Love.ttf");
}

@font-face {
  font-family: heligthon;
  src: url("../assets/fonts/Heligthon\ Signature.otf");
}
img {
  width: 100%;
  height: auto;
  max-height: 30rem;
  object-fit: contain;
  margin: 2rem;
  transition: all 250ms ease-in-out;
}
img:hover {
  transform: scale(1.1);
  /*border: 1px white dotted;*/
  /*padding-top: 1rem;*/
  /*padding-bottom: 5rem;*/
  /*background-color: #ffa;*/
}

.header__heart {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(1rem);
  margin-bottom: 2rem;
}
.header__heart svg {
  overflow: visible;
}
.header__heart svg path#line {
  fill: none;
  stroke: #e00000;
  stroke-width: 2;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 4s linear infinite;
}
.header__heart svg path#heart {
  transform-origin: 50% 50%;
  animation: blink 4s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  60% {
    opacity: 0;
    transform: scale(0);
  }
  70% {
    opacity: 1;
    transform: scale(1.2);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1.2);
  }
  85% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.youtube {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  width: 70%;
  height: 20rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vw;
  padding: 0;

  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;

  /* background stripes */
  background: var(--bg);
  /*https://css-pattern.com/graph-paper/*/
  --s: 5rem; /* control the size*/
  --c1: var(--bg);
  --c2: var(--bg);
  --_g: #ffffff 90deg, var(--c1) 0;
  background:
    conic-gradient(from 90deg at 2px 2px, var(--_g)),
    conic-gradient(from 90deg at 1px 1px, var(--_g)), var(--c2);
  background-size:
    var(--s) var(--s),
    calc(var(--s) / 5) calc(var(--s) / 5);
}

main {
  font-family: daysoflove;
  text-align: cetner;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2ch;

  -webkit-box-shadow: 0px 0px 174px 45px rgba(204, 62, 40, 0.9);
  -moz-box-shadow: 0px 0px 174px 45px rgba(204, 62, 40, 0.9);
  box-shadow: 0px 0px 174px 45px rgba(204, 62, 40, 0.9);
}

main h1 {
  font-family: heligthon;
  font-size: 5rem;
  color: var(--red);
  text-align: center;
  text-shadow: rgba(255, 163, 5, 0.9) 0px 0px 39px;
}

main h2 {
  font-size: 2rem;
}
main figcaption {
  font-size: 1.7rem;
}

figure {
  width: 70vw;
}

figcaption::after {
  content: "";
  position: relative;
  top: 0;
  left: 40%;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 10rem;
  width: 10rem;

  background-image: url("../assets/img/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(-50%) rotate(90deg); /* Tilt the SVG */
}

.fig-two {
  display: flex;
  flex-wrap: wrap;
  img {
    width: 48%;
    margin: 1%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
.heartfelt {
  text-align: center;
}
.heartfelt .valentine {
  font-size: minmax(10rem, 100%);
}
